body {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkslategrey;
}

/* game board table */

#game {
  margin: 15px 0px 15px 0px;
}

#board {
  margin: auto;
  overflow: hidden;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: relative;
  animation-name: dropPiece;
  animation-duration: 1s;
}

@keyframes dropPiece {
  from { 
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

/* game info toolip */

#header {
  font-size: 35px;
  margin: 15px 15px 15px 15px;
}

.subtext {
  font-size: 10px;
  position: relative;
  display: inline-block;
}

.tooltip {
  font-size: 13px;
  visibility: hidden;
  width: 200px;
  background-color: darkblue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.subtext:hover .tooltip {
  visibility: visible;
}

/* options */
#game-options {
  margin: auto;
  overflow: hidden;
  width: 520px;
}

#player-options {
  text-align: justify;
  border: 1px dotted black;
  margin: auto;
  overflow: hidden;
  float: left;
  width: 200px;
  height: 125px;
  padding: 10px;
}

#board-options {
  text-align: justify;
  border: 1px dotted black;
  margin: auto;
  overflow: hidden;
  float: left;
  width: 125px;
  height: 125px;
  padding: 10px;
}

/* #additional-players {
  margin: auto;
  overflow: hidden;
  overflow: hidden;
  float: left;
  width: 200px;
  text-align: justify;
  border: 1px dotted black;
  padding: 10px;
} */


.options-header {
  text-align: center;
  margin-bottom: 10px;
  height: 20px;
}

label {
  width: 100px;
}

input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 20px;
  padding: 2px;
}

input[type=color] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 25px;
}

/* button {
  margin-top: 5px;
  margin-bottom: 5px;
} */

#current-turn {
  text-align: center;
}